@import 'constants';

body {
  background-color: $body-background-color;
  color: $body-text-color;
  box-sizing: border-box;
  outline: none;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  color: $link-text-color;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button, input[type=button], input[type=submit], input[type=reset], label {
  cursor: pointer;
}

select {
  appearance: none;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 $body-text-color;
}

.multi-select {
  width: 400px;
}

.rmsc {
  --rmsc-p: #{$body-text-color} !important;
  --rmsc-gray: #{$body-text-color} !important;
  --rmsc-border: #{$input-border-color} !important;
  --rmsc-main: #{$input-enhanced-border-color} !important;
  --rmsc-bg: #{$input-background-color} !important;
  --rmsc-hover: #{$input-hover-color} !important;
  --rmsc-selected: #{$input-selected-color} !important;

  li {
    display: list-item !important;
    margin-left: 0 !important;
  }

  .dropdown-heading {
    padding-left: 10px !important;
  }

  input {
    padding-left: 10px !important;
  }

  button {
    width: auto !important;
  }

  .select-item {
    padding: 4px 4px 4px 10px
  }
}

textarea {
  resize: none;
}

dl {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-gap: .5em;
  margin: 0 0 2rem 0;

  dt {
    white-space: nowrap;
    letter-spacing: 0.05em;
    padding-right: 10px;
  }

  dd {
    margin: 0;
  }
}

// https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_table_dark_striped&stacked=h
table {
  width: 100%;
  margin-bottom: 1rem;
  color: $table-text-color;
  border-collapse: collapse;

  thead {
    th {
      vertical-align: bottom;
      text-align: inherit;
      background-color: $table-th-background-color;
      border-top: 1px solid $table-th-border-color;
      border-bottom: 2px solid $table-th-border-color;
    }
  }

  tbody tr:nth-of-type(odd) {
    background-color: $table-td-odd-background-color
  }

  tbody tr:nth-of-type(even) {
    background-color: $table-td-even-background-color
  }

  th, td {
    padding: .75rem;
    vertical-align: top;
  }
}

.error {
  color: $error-text-color;
}

.message {
  color: $message-text-color;
}

.fullscreen-loader {
  width: 100%;
  height: 100%;

  img {
    left: 50%;
    position: absolute;
    top: 50%;
  }
}

.center {
  text-align: center;
}

.page {
  padding: 20px;
  min-height: 600px;

  h2 {
    margin-top: 0;
  }

  &.with-margin {
    max-width: $big-screen;
    margin: auto;
    background-color: $page-background-color;
  }
}

.tab-container {
  .tab-list {
    display: flex;
    background-color: $tab-headers-background-color;
    cursor: hand;

    .tab-header {
      padding-left: 1rem;
      padding-right: 2rem;

      &:hover {
        background-color: $tab-headers-hover-background-color;
        color: $tab-selected-headers-text-color;
      }
    }

    .selected {
      background-color: $tab-selected-headers-background-color;
      color: $tab-selected-headers-text-color;
    }
  }

  .tab-content {
    padding: 1rem;
    background-color: $tab-body-background-color;
  }
}


@import 'form';
@import 'card';
