@use '../constants' as *;

header {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  background-color: $header-background-color;

  #logo {
    margin-left: 10px;
    display: flex;

    img {
      width: 40px;
      height: 40px;
      margin-top: 5px;
      margin-right: 10px;
    }

    h1 {
      font-size: 24px;
      margin: auto;
      color: white;
    }
  }

  #menu-bar {
    display: flex;
    justify-content: flex-end;

    nav {
      height: 50px;
      min-width: 50px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;

      a {
        text-decoration: none;
        color: $header-text-color;
      }

      a, span {
        line-height: $header-height;

        &:hover {
          color: $nav-hover-text-color;
        }
      }

      ul.dropdown {
        position: absolute;
        background-color: $header-background-color;
        padding: 0 20px 0 20px;
        margin: 0;
        display: none;
        z-index: 1;
        right: 0;
        white-space: nowrap;
        border-top: 1px solid $nav-hover-text-color;

        &:before {
          bottom: 100%;
          left: 70%;
          border: 8px solid transparent;
          border-bottom-color: $nav-hover-text-color;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        li {
          display: block;
          height: 50px;
          text-align: left;
        }
      }
    }

    nav:hover ul.dropdown {
      display: block;
    }
  }
}
