@use '../constants' as *;

#play-form {
  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin-left: 3rem;

      img {
        padding-left: 2px;
        padding-right: 5px;
      }
    }
  }
}

.active-game {
  margin: 2rem;
}

.player-selected {
  color: $table-text-color-selected
}